@charset "UTF-8";
body {
  font-family: "Roboto", "Noto Sans JP", "돋움", sans-serif;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

.item-inner {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 100px;
}

.letter1 {
  letter-spacing: -1px;
}

.letter2 {
  letter-spacing: -8px;
}