@media (max-width: 960px) {
  main #main-slide #sub-slide01 {
    background-image: url("/img/sub-slide01-768.jpg");
    background-size: cover;
    background-position: top;
  }
  main #main-slide #sub-slide02 {
    background-image: url("/img/sub-slide02-768.jpg");
    background-size: cover;
    background-position: center;
  }
  main #main-slide #sub-slide03 {
    background-image: url("/img/sub-slide03-768.jpg");
    background-size: cover;
    background-position: top;
  }
  main #main-slide #sub-slide04 {
    background-image: url("/img/sub-slide04-768.jpg");
    background-size: cover;
    background-position: top;
  }
  main #main-slide #sub-slide05 {
    background-image: url("/img/sub-slide05-768.jpg");
    background-size: cover;
    background-position: top;
  }
}